name: .NET

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    HUSKY: 0

permissions:
    contents: read
    issues: read
    checks: write
    pull-requests: write

jobs:
    check_formatting:
        runs-on: ubuntu-latest
        name: Check Formatting
        continue-on-error: true
        steps:
            -   uses: actions/checkout@v6
            -   run: |
                    dotnet tool restore
                    dotnet csharpier check .

    test:
        runs-on: ubuntu-latest
        name: Test
        steps:
            -   uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            # Build
            -   name: Setup .NET
                uses: actions/setup-dotnet@v5
                with:
                    dotnet-version: |
                        8.0.x
                        9.0.x
                        10.0.x
            -   name: Restore dependencies
                run: dotnet restore
            -   name: Build
                run: dotnet build --no-restore

            # Test
            -   name: Test
                run: dotnet test --no-build --report-trx --coverage --coverage-output-format cobertura --coverage-output cobertura.xml --results-directory TestResults

            -   name: Publish Test Results
                uses: EnricoMi/publish-unit-test-result-action@v2
                if: (!cancelled())
                with:
                    files: |
                        TestResults/*.trx
