name: .NET

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    HUSKY: 0

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6
                with:
                    fetch-depth: 0
            -   name: Setup .NET
                uses: actions/setup-dotnet@v5
                with:
                    dotnet-version: |
                        7.0.x
                        8.0.x
                        9.0.x
            -   name: Restore dependencies
                run: dotnet restore
            -   name: Build
                run: dotnet build --no-restore
            -   name: Test
                run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
#            -   name: Upload coverage reports to Codecov
#                uses: codecov/codecov-action@v4
#                env:
#                    CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
